/* ------------------------------------------------------------------------------
    Z M - T H E M E
--------------------------------------------------------------------------------- */

/* Menu */
.menu_wrapper {
	background-color: #0095da;
}

#nav_menu #portal-languageselector li {
  display: inline !important;
}

#portal-languageselector .dropdown-toggle {
	background-color: #0095da !important;
	border-color: #0095da !important;
}

#portal-languageselector .dropdown-toggle:hover {
	background-color: #000000 !important;
	border-color: #000000 !important;
}